body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #030712;
  box-sizing: border-box;
}

#sticky{
    width: 100%;
    position: fixed;
    background: #ffffff;
    z-index: 1000; /* Ensures the header stays on top */
}

.header-with-border {
    border-bottom: 1px solid #f3f4f6;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
    height: 60px; /* Adjust height as needed */
}

.header-column {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 0.92rem;
}

.header-column:nth-child(2) {
    justify-content: center;
}

.header-column:nth-child(3) {
    justify-content: flex-end;
}

.header-column .logo{
    height: 22px;
}

.nav-center, .nav-right {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-center li {
    margin-right: 20px;
}
.nav-right li{
  margin-left: 20px;
}

.nav-center a, .nav-right a {
  text-decoration: none;
  color: #030712;
  padding: 6px 10px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.nav-center a:hover, .nav-right a:hover, .active{
  background: #f3f4f6;
}

.nav-right .btn-start-free {
    background: #F03C06;
    color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.2s ease-in-out;
}

.nav-right .btn-start-free:hover{
  background: #f03c06;
  cursor: pointer;
}

.content {
    text-align: left;
    padding: 120px 20px 80px 20px;
    width: calc(50vw - 100px); /* Adjusts width to match header, considering padding */
    max-width: 1028px; /* Limits maximum width for larger screens */
    margin: 0 auto; /* Centers the section horizontally */
}

.content h1 {
    font-size: 2.7em;
    margin: 0;
    line-height: 4.2rem;
    letter-spacing: -0.5px;
}

.content h2 {
    font-size: 1.8em;
    margin: 0;
    line-height: 4.2rem;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: #6b7280;
}

.content section{
    margin-bottom: 30px;
}

.content h3{
    font-size: 1.1rem;
    font-weight: 600;
}

.content h3 span{
    color: #6b7280;
    font-weight: 400;
}

.content p{
    font-size: 1.05rem;
    line-height: 1.8rem;
    color: #374151;
}

.content ul{
    margin: 10px 0 10px 40px;
    padding: 0;
}
.content ul li{
    font-size: 1.05rem;
    line-height: 1.8rem;
    color: #374151;
    margin-bottom: 5px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 120px 20px 80px 20px;
    width: calc(75vw - 100px); /* Adjusts width to match header, considering padding */
    max-width: 1028px; /* Limits maximum width for larger screens */
    margin: 0 auto; /* Centers the section horizontally */
}

.hero h1 {
    font-size: 3.4em;
    margin-bottom: 20px;
    line-height: 4.2rem;
    letter-spacing: -0.5px;
    font-weight: 700;
}

.hero p {
    font-size: 1.2rem;
    margin: 10px 0 50px 0;
    max-width: 660px; /* Restricts paragraph width for readability */
    margin-left: auto;
    margin-right: auto;
    color: #4b5563;
    font-weight: 300;
    line-height: 2rem;
}

.hero .signup {
    background: #ff5005;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s ease;
    text-decoration: none;
    font-weight: 600;
}

.hero .signup:hover {
    background: #f03c06; /* Darker shade for hover effect */
}

.hero .signup svg{
  height: 18px;
  vertical-align: middle;
  stroke-width: 2px;
  margin-top: -2px;
  margin-left: 5px;
}

.hero .success{
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background: #ff5005;
    color: #ffffff;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid #ff5005;
}

.hero .waitlist{
    width: 450px;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid #d1d5db;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    text-align: left;
    background: #f9fafb;
}

.hero .waitlist .form-nostyle{
    border: none;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    outline: none;
    padding: 20px 20px;
    width: 300px;
    color: #030712;
}

.hero .waitlist .join-list{
    background: #ff5005;
    border: 0;
    color: #ffffff;
    padding: 10px 15px;
    width: 96px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
    font-weight: 500;
}

.hero .waitlist .join-list:hover{
    cursor: pointer;
    background: #f03c06; /* Darker shade for hover effect */
}

.hero .text-small{
    font-size: 0.9rem;
    color: #6b7280;
}

.product {
    background: #f9fafb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(75vw - 20px);
    margin: 20px auto;
    padding: 10px 10px;
    box-shadow: 0px 0px 50px -1px rgba(0,0,0,0.1);
    border-radius: 20px;
    border: 1px solid #e5e7eb;
}

.product img{
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
}

/* Section for Features and Sharing */
.features-and-sharing {
    width: 75vw; /* Adjusts width to match header, considering padding */
    max-width: 1200px; /* Limits maximum width for larger screens */
    margin: 0 auto; /* Centers the section horizontally */
    text-align: left;
    padding: 120px 20px;
}

.features-and-sharing h2 {
    font-size: 2em;
    margin: 0;
}

.features-and-sharing p{
    font-size: 1.1rem;
    margin: 10px 0 50px 0;
    color: #4b5563;
    font-weight: 300;
    line-height: 2rem;
    max-width: 1024px;
}

.features-grid {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 20px;
    align-items: start;
}

.feature-item {
    background: #f9fafb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 10px -2px rgb(0 0 0 / 0.1), 0 2px 2px -4px rgb(0 0 0 / 0.1);
    border: 1px solid #f3f4f6;
}

.left-column {
    height: 430px;
}

.right-column {
    height: 207px; /* Half of the left column height */
    margin-bottom: 18px;
}

.feature-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 600;
    color: #111827;
    padding: 20px 20px 0 20px;
}

.feature-item p {
    font-size: 1em;
    margin: 0;
    flex-grow: 1;
    color: #6b7280;
    line-height: 1.4rem;
    padding: 0 20px 0 20px;
}

.img-feature-1{
    background: url('../images/incident_timeline_1x.webp') no-repeat;
    background-size: contain;
    background-position: bottom;
    height: calc(100% - 80px);
}

.img-feature-2{
    background: url('../images/change_flow_2x.webp') no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100px;
}

.img-feature-3{
    background: url('../images/post_incident_2x.webp') no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100px;
    margin-top: 20px;
}

.sharing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.share-item {
    background: #f9fafb;
    border-radius: 20px;
    box-shadow: 0 3px 10px -2px rgb(0 0 0 / 0.1), 0 2px 2px -4px rgb(0 0 0 / 0.1);
    border: 1px solid #f3f4f6;
}

.share-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 600;
    color: #111827;
    padding: 20px 20px 0 20px;
}

.share-item p {
    font-size: 1em;
    margin: 0;
    flex-grow: 1;
    color: #6b7280;
    padding: 0 20px 20px 20px;
    line-height: 1.6rem;
}

.share-item .icon-container{
    width: 20px;
    padding: 5px 7px 7px 7px;
    border-radius: 4px;
    background: #111827;
    margin: 20px 0 0 20px;
    display: block;
    text-align: center;
}
.share-item .icon-container svg{
    height: 18px;
    color: #f3f4f6;
    vertical-align: middle;
}

/* Section for Use Cases */
.uses-grid {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.scrolling-text {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 270%;
    animation: scroll-text 15s linear infinite;
}

.scrolling-text span{
    display: inline-block;
    margin-right: 150px;
    font-size: 4rem;
}

footer{
    width: 100vw;
    padding: 70px 0;
    background: #030712;
}

footer .container{
    width: 75vw; /* Adjusts width to match header, considering padding */
    max-width: 1200px; /* Limits maximum width for larger screens */
    margin: 0 auto; /* Centers the section horizontally */
    text-align: left;
}

footer .mini-icon{
    height: 20px;
}

footer ul{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
footer ul li{
    display: inline;
    font-size: 0.8rem;
    margin-right: 20px;
}
footer a{
    color: #9ca3af;
    text-decoration: none;
    transition: color 0.2s;
}

footer a:hover{
    color: #f9fafb;
}

footer .copy{
    color: #9ca3af;
    font-size: 0.8rem;
    margin: 0;
}

footer svg{
    height: 20px;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }

  .header-container {
  display: flex;
  justify-content: space-between; /* Ensures columns are spaced out */
  align-items: center;
  width: calc(100vw - 20px);
  margin: 0 auto;
  height: 60px;
  padding: 0 20px;
}

.header-column {
  flex: 1;
  display: flex;
  align-items: center;
}

.header-column:nth-child(1) {
  justify-content: flex-start; /* Align logo to the left */
}

.header-column:nth-child(2) {
  display: none;
}

.header-column:nth-child(3) {
  justify-content: flex-end; /* Align Sign in to the right */
  margin-right: 20px;
}

  .nav-center, .nav-right {
    flex-direction: column; /* Stack navigation items vertically */
    align-items: flex-start; /* Align items to the start */
  }


  .hero .waitlist{
    width: 300px;
  }

  .hero .waitlist .form-nostyle{
    padding: 10px 15px;
    width: 200px;
    font-size: 0.8rem;
}
.hero .text-small{
    font-size: 0.7rem;
    color: #6b7280;
    margin-top: 5px;
}

.hero .waitlist .join-list{
    background: #ff5005;
    border: 0;
    color: #ffffff;
    padding: 5px 10px;
    width: 60px;
    font-size: 0.8rem;
}

  .hero p, .features-and-sharing p{
    font-size: 0.95rem;
    margin: 0px 0 25px 0;
    max-width: 100%;
    line-height: 1.8rem;
}

  .hero{
    padding: 80px 20px 20px 20px;
    width: 90vw;
  }
  .content, .features-and-sharing, footer .container {
    width: 90vw; /* Increase width to utilize more screen space */
    padding: 20px; /* Adjust padding */
  }

  .content h1, .hero h1 {
    font-size: 2em; /* Adjust heading size */
    line-height: 2.5rem; /* Adjust line height */
  }

  .content h2, .features-and-sharing h2 {
    font-size: 1.5em; /* Adjust heading size */
    margin-bottom: 15px;
  }

  .product {
    background: #f9fafb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(85vw - 20px);
    margin: 20px auto;
    padding: 10px 10px;
    box-shadow: 0px 0px 50px -1px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    }

    .product img{
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      border: 1px solid #e5e7eb;
    }

  .feature-item, .share-item {
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Use full width */
    margin: 10px 0; /* Adjust margin */
  }

  .features-grid, .sharing-grid {
    grid-template-columns: 1fr; /* Use single column layout */
  }

  .feature-item p, .share-item p {
    font-size: 0.9em;
    margin: 0;
    flex-grow: 1;
    color: #6b7280;
    padding: 0 20px 20px 20px;
    line-height: 1.6rem;
}

  .uses-grid {
    height: auto; /* Allow height to adjust based on content */
  }

  footer{
    padding: 20px 0;
  }

  footer ul li {
    display: inline-block;
    margin-bottom: 10px; /* Add margin between items */
  }
}